.voice-search-block {
  margin-right: 6px;
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin-left: -24px;
}
.voice-search-block img {
  position: absolute;
  bottom: 0;
  top: 5px;
  width: 15px;
  cursor: pointer;
}
